header{
    background-color:  #117D95; 
    width: 100%;
    height: 6rem;
    position: sticky;
    top: 0;
    z-index: 1000;  
}
.navbar{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.logo{
    margin-left: 10rem;
}
#Mc{
    font-size: 30px;
    color: #D46F4D;
    font-family:Porter Sans Block;
}
#delices{
    font-size: 30px;
    color:#FFBF66;
}

.head{
display: flex;
width: 20rem;
}
.head li{
    display: flex;
    justify-content: space-between;
    margin-left: 15%; 
   
}
a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    font-family: Philosopher;
    font-size: 22px;
}
li{
    list-style-type: none;
    
}
.action:hover{
    border-bottom: 5px solid #FFBF66;
  }



.classe{
	width: 200px;
	height: 200px;
	text-align: center;
	border: 1px solid;
}
.primaire{
	display:flex;
	justify-content: space-evenly;
	width: 100%;
	height: auto;

}
button{
	height: 185px;
	width: 200px;
}
.cp1{
	background-size: cover;
	background: url(../cp1.jpeg) center;
}
.cp2{
	background: url(../cp2.jpeg) center;
	
}
.ce1{
	background: url(../ce1.jpeg) center;
}
.ce2{
	background: url(../ce2.jpeg) center;
}
.cm1{
	background: url(../cm1.jpeg) center;
}
.cm2{
	background: url(../cm2.jpeg) center;
	
}
a{
	text-decoration: none;
	color: black;
}

.cours1{
	position: relative;
	width: 100%;
}
.primaire1{
	display:block;
	justify-content: space-evenly;
	width: 100%;
	height: auto;
	border: 1px solid;
}
h1{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}
.classe1{
	width: 100%;
	height: 200px;
	text-align: center;
	margin: 30px;
}
p{
	font-size: 20px;
}
.a1{

	box-shadow: 1px 1px 1px ;
}
.evalu{
	width: 100px;
	height: 20px;
	background: #117D95;
	border: 1px solid;
	border-radius: 10px;
	color: white;
}
li a{
	color: white;
}